/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color and font family for the entire app */
body {
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Container to center content */
.app-container {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 2px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Basic Header */
.email_title{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #6b94bd;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

.email_title::-webkit-scrollbar{
  display: none;
}

email_title:hover {
  color: #4a73a0;
  transform: scale(1.02);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.email_title::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #6b94bd;
  transition: width 0.3s ease-in-out;
}

.email_title:hover::after {
  width: 100px;
  background-color: #4a73a0;
}




input[type="file"]{
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  
}


button:hover {
  background-color: #387102;
 
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}




/* Loader animation */
.loader{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 3px solid black;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


